
.body {
  border-radius: 30px;
  
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.header-title {
  margin-left: 80px;
  margin-right: 200px;
  font-size: 15px;
  
}

.header-nav {
  display: flex;
  font-size: 15px; 
}

.header-nav a {
  text-decoration: none;
  color: rgb(180, 177, 177);
}
.nav-link {
  display: flex;
  gap: 50px;
  color: rgb(177, 175, 175);
  margin-right: 200px;
  align-items: center;
}

.nav-pages {
  gap: 30px;
  margin-right: 80px;
  
}

.sign-in {
  margin-right: 30px;
  margin-left: 100px;
}

.sign-up {
  background-color: rgb(247, 140, 140);
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}
